@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Condensed', ans-serif;
    background-color: #111;
}

/*Style navbar*/

.logo{
    width: 80px;
    object-fit: contain;
}

.bemvinde{
    color: white;
    object-fit: contain;
}

.nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
    /*background-color: #111;
    background: rgba(0, 0, 0, 0.5);*/
}

.navBlack {
    background-color: #111;
    background: rgba(0, 0, 0, 0.5);
}

.link{
    text-decoration: none;
    color: white;
}
.link:hover{
    color: #FFFF00;
}

/*Style Header(cabeçalho)*/

h1{
    color: white;
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.descricao{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1rem;
    max-width: 360px;
    height: 180px;
}

.banner{
    background-image: linear-gradient(to right, rgb(24, 24, 24), rgb(37, 37, 37), rgb(24, 24, 24));
    background-size: cover;
    background-position: center center;
    color: #FFFF00;
    object-fit: contain;
    height: 448px;
}

.fadeBottom{
    margin-top: 145px;
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}

.apresentacao{
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}

.sobremim{
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(255, 255, 0, 0.23);
}

.sobremim:hover{
    color: #000;
    background-color: #FFFF00;
    transition: all 0.2s;
}

/*Style recomendações*/

.posterFilmes, .posterSeries, .posterdesenho, .posterjogos{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.imagemPosterFilmes, .imagemPosterSeries, .imagemPosterDesenho, .imagemPosterJogos{
    width: 100%;
    object-fit: contain;
    max-height: 250px;
    margin-right: 10px;
    transition: transform 450ms;
}

/*Aumenta a imagem ao passar o cursor do mouse*/
.imagemPosterFilmes:hover, .imagemPosterSeries:hover, .imagemPosterDesenho:hover, .imagemPosterJogos:hover{
    transform: scale(1.10);
}

.posterLarge:hover{
    transform: scale(1.12);
}

/*Sem barra de rolagem*/
.posterFilmes::-webkit-scrollbar, .posterSeries::-webkit-scrollbar, .posterdesenho::-webkit-scrollbar, .posterjogos::-webkit-scrollbar{
    display: none;
}

.recomendacoes{
    color: white;
    margin-left: 20px;
}

/*Pagina sobre mim*/

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.imgBia{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.input{
    border-radius: 5px;
    background-color: rgba(70, 70, 70, 0.692);
    padding: 10px;
    
}

.h2Branco{
    color: white;
}
